html,body{
    margin: 0;   
    font-family: 'Roboto', sans-serif; 
}
header{
    background-color: #61616169;
    color:white;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 50;   
    
}
#logo img{
    width: 45px;
    position: absolute;
    margin: 4px;
    margin-left: 13px;
}
.li_logo{
    float: left;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
}

#menu{
    float: right;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
}
.li_menu{
    float:left;
    padding: 20px 20px 21px 20px;
}
.li_menu a:hover{
    color: white;
}
.li_menu a{
    text-decoration: none;
    color:whitesmoke;
    font-weight: inherit;
    border-bottom: 1px solid;   
    
}
.grow:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition:150ms;
}
#img_fundo{
    background-image: url(img/capa3.jpeg);    
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 10px;
    text-align: center;
}
#titulo{
    padding-top: 5%;
    margin-right: auto;
    margin-left: auto;
    font-size: 223%;
    color: white;
    text-shadow: 2px 2px 8px #000000;
}

#subtitulo{
    padding-left: 25%;
    padding-right: 25%;
    margin-left: auto;
    margin-right:auto ;
    font-weight: 130;
    border-top: 2px solid whitesmoke;
    padding-top: 6%;
    padding-bottom: 6%;
    font-size: 180%;
    text-align: center;
    color: white;    
    text-shadow: 2px 2px 8px #000000;
}

.acao{
    color:whitesmoke;
    border-radius: 5px;   
    padding: 4px 20px 4px 20px;
    text-decoration: none;
    text-shadow: 2px 2px 8px #000000;
    font-size: large;
}

.acao:hover{
    background-color: #61616169;
    
}

/* PRIMEIRA SESSAO projeto*/

section{
    padding: 20px;
    float: left;
    text-align:left ;
    /*border: solid brown 1.5px;*/
    border-right:0 ;
    line-height: 1.5;
}
.titulo_projeto{
    text-align: center;
}
.video{
    padding-top: 10%;
}
.destaque{
    background-color: white;
}
.destaque2{
    background-color: rgba(243, 240, 240, 0.952);
}

/*SEGUNDA SESSAO objetivo*/
#objetivo{
    text-align: center;
}

.icone{
    width: 50px;
    padding: 20px 20px 21px 20px;
    border-radius: 46px;
}

.fonte{
    
    margin-top: 18px;
    margin-bottom: 18px;
}

/*TERCEIRA SESSAO*/
#sessao3{
    transform: translate(-1%);
}
.imgeco{
    width: 80%;
    margin-top: 20%;
    
}
.p_sessao4{
    padding-left: 16%;
    text-align: center;

}
.p_cenario{
    margin-top: 4%;
    margin-bottom: 0%;
    line-height: 1.5;
}

/*quarta sessão*/
#cenario{
    padding-bottom: 18%;
}



/*coluna do layout*/
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;/*posiao do elemento, vai varia o elemento que vem anteriormente.(div ao lado esquerdo)*/
        
}

.dois{
    width: 40%;
}

.tres{
    width: 29%;
    padding: 0 2%;
    
}

.quatro{
    width: 15%;
    padding-top: 1%;
}

/*sobre mim*/

.citacao{
    float: right;
    font-size: 88%;
    padding-left: 50%;
}
.citacao1{
    float: right;
    font-size: 88%;
    padding-left: 0%;
    padding-top: 1%;
    margin: 0;
    padding-right: 5.4%;
}
#sobre-mim{
    padding-right: 50%;
}
#sobre img{
    width: 100%;
    border: solid;
}
footer{
    background-color: black;
    color:white;
    float: left;
    width: 100%;
    text-align: center;
    font-weight: inherit;
}

.topo{
    padding-top: 10%;
    padding-top: 5%
}

.credito{
    color:white;
    text-decoration:none;
    }
.credito:hover{
    color: brown;

}
#contato2 a{
    color: white;
    text-decoration: none;
}
#contato2 a:hover{
    color: brown;
    
}

#logo_contato{
    float: left;
    padding-left: 100px;
    margin-right: 30px;
    margin-top: 22px;
    margin-bottom: 0px;

}
#logo1_contato img{
    width: 25px;
    float: left;
    padding-left: 100px;
    margin-right: 0px;
    margin-top: 24px;
    
}
#logo2_contato img{
    width: 25px;
    float: left;
    padding-left: 100px;
    margin-right: 6px;
    margin-top: 0px;
    
}
#logo3_contato img{
    width: 25px;
    float: left;
    padding-left: 100px;
    margin-top: 2px; 
    padding-top: 2px;   
       
}
#contato1{
    padding-top: 12px;
    padding-right: 2px;
    list-style: none;
}
#contato2{
    padding-top: 5px;
    padding-right: 10px;
    list-style: none;
}
#contato3{
    padding-top: 8px;
    padding-right: 2px;
    list-style: none;   
}


/*vai observa o tamanho da tela, que estáconsumindo o site, e fazer as adaptações de acordo o as especificações*/
@media all and (max-width: 768px){

    #menu{
        visibility: hidden;
    }
    
    .coluna, .dois, .tres, .quatro{
        display: block;
        width: 80%;
        padding: 0;
        margin:10px auto;
        float: none;
    }

    #logo{
        text-align: center;
    }

    #logo img{
        margin-left: 0;
        position: relative;
    }

    #titulo{
        
        padding-top: 10%;
        font-size: 220%;
        color: white;
        text-shadow: 2px 2px 8px #000000;
    }

    #subtitulo{
        font-size: 130%;
        padding-left: 3%;
        padding-right: 3%;
    }

    #sobre-mim{
    padding-right: 0}

    .citacao{
        float: right;
        font-size: 83%;
        padding-left: 32%;
        padding-top: 0px;
        font-family: initial;
    }
    .citacao1{
        float: right;
        font-size: 79%;
        padding-left: 0%;
        padding-top: 0%;
        margin-bottom: 30px;
        padding-right: 5.4%;
        font-family: initial;
    }

    #logo1_contato img{
        width: 25px;
        float: right;
        padding-left: 28px;
        margin-right: 50px;
        margin-top: 4px;
        
    }

    #logo1_contato{
        width: 25px;
        padding-left: 100px;
        margin-right: 0px;
        margin-top: 24px;

    }
    #logo2_contato img{
        width: 25px;
        padding-left: 50px;
        margin-top: 0px;
        
    }
    #logo3_contato img{
        width: 25px;
        padding-left: 50px;
        margin-top: 2px; 
        padding-top: 2px;   
           
    }

    #contato1{
        padding-top: 12px;
        padding-right: 2px;
        padding-left: 7px;
        margin-right: 50px;
        margin-top: 0px;
        margin-bottom: 11px;
        padding-top: 5px;
        padding-right: 0px;
        list-style: none;
    }

    #contato2{
        padding-top: 5px;
        padding-right: 10px;
        padding-top: 0px;
        padding-right: 120px;
        list-style: none;
    }
    #contato3{
        padding-top: 8px;
        padding-right: 2px;
        padding-top: 5px;
        padding-right: 20px;
        list-style: none;
    }
    #rodape{
        padding-bottom: 20px;
    }
  
}
@media all and (max-width: 1080px){

    #menu{
        visibility: hidden;
        
    }
    #img_fundo{
        background-image: url(img/capa3.jpeg);    
        background-size: auto;
        background-attachment: fixed;
        height: 100%;
        padding: 10px;
        text-align: center;
    }
    
    .coluna, .dois, .tres, .quatro{
        display: block;
        width: 80%;
        padding: 0;
        margin:10px auto;
        float: none;
    }

    #logo{
        text-align: center;
    }

    #logo img{
        margin-left: 0;
        position: relative;
    }

    #titulo{
        
        padding-top: 10%;
        font-size: 220%;
        color: white;
        text-shadow: 2px 2px 8px #000000;
    }

    #subtitulo{
        font-size: 130%;
        padding-left: 3%;
        padding-right: 3%;
    }

    #sobre-mim{
    padding-right: 0}

    .citacao{
        float: right;
        font-size: 83%;
        padding-left: 32%;
        padding-top: 0px;
        font-family: initial;
        padding-right: 6%;
    }
    .citacao1{
        float: right;
        font-size: 79%;
        padding-left: 0%;
        padding-top: 0%;
        margin-bottom: 33px;
        padding-right: 6.4%;
        font-family: initial;
    }

    #logo1_contato img{
        width: 25px;
        float: right;
        padding-left: 28px;
        margin-right: 50px;
        margin-top: 4px;
        
    }

    #logo1_contato{
        width: 25px;
        padding-left: 100px;
        margin-right: 0px;
        margin-top: 24px;

    }
    #logo2_contato img{
        width: 25px;
        padding-left: 50px;
        margin-top: 0px;
        
    }
    #logo3_contato img{
        width: 25px;
        padding-left: 50px;
        margin-top: 2px; 
        padding-top: 2px;   
           
    }

    #contato1{
        padding-top: 12px;
        padding-right: 2px;
        padding-left: 7px;
        margin-right: 50px;
        margin-top: 0px;
        margin-bottom: 11px;
        padding-top: 5px;
        padding-right: 0px;
        list-style: none;
    }

    #contato2{
        padding-top: 5px;
        padding-right: 10px;
        padding-top: 0px;
        padding-right: 120px;
        list-style: none;
    }
    #contato3{
        padding-top: 8px;
        padding-right: 2px;
        padding-top: 5px;
        padding-right: 20px;
        list-style: none;
    }
    #rodape{
        padding-bottom: 20px;
    }

}