html,body{
    margin: 0;   
    font-family: 'Roboto', sans-serif; 
}
header{
    background-color: black;
    color:white;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 50;   
    
}
#logo img{
    width: 50px;
    position: absolute;
    margin: 4px;
    margin-left: 13px;
}
#menu{
    float: right;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
}
li{
    float:left;
    padding: 20px 20px 21px 20px;
}
li:hover{
    background-color: silver;
}
li a{
    text-decoration: none;
    color:brown;
}

#img_fundo{
    background-image: url(img/capa3.jpeg);    
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 10px;
    text-align: center;
}
#titulo{
    padding-top: 10%;
    font-size: 220%;
    color: white;
    text-shadow: 2px 2px 8px #000000;
}

#subtitulo{
    padding-left: 25%;
    padding-right: 25%;
    font-weight: 130;
    border-top: 4px solid whitesmoke;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 180%;
    text-align: center;
    color: white;
    border-bottom: whitesmoke solid;    
    margin: 1%;
    text-shadow: 2px 2px 8px #000000;
}

#acao{
    color:whitesmoke;
    border-radius: 5px;   
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-bottom: solid;
    text-shadow: 2px 2px 8px #000000;
}

#acao:hover{
    background-color: #7b1a1a;
}

/* PRIMEIRA SESSAO*/

section{
    padding: 20px;
    float: left;
    text-align: left;
    border: solid brown;
    border-right:0 ;
}
     

}

#video{
    padding-top: 25px;
}


.icone{
    width: 50px;
    padding: 15px;
}

.icone:hover{
    background-color: #e3dde3;
    border-radius: 9px 10px 9px 10px;
}

.destaque{
    background-color: #e3dde3;
}

/*SEGUNDA SESSAO*/


.imgeco{
    width: 80%;
}

/*TERCEIRA SESSAO*/


/*coluna do layout*/
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;/*posiao do elemento, vai varia o elemento que vem anteriormente.(div ao lado esquerdo)*/
        
}

.dois{
    width: 40%;
}

.tres{
    width: 29%;
    padding: 0 2%;
    
}

.quatro{
    width: 15%;
}

/*sobre mim*/

#sobre img{
    width: 64%;
    border: solid;
}
footer{
    background-color: black;
    color: white;
    float: left;
    width: 100%;
    text-align: center;
}
.topo{
    padding-top: 10%;
}
.topo{
    padding-top: 5%;
}
